/* reset style */
body, div, p, ul, ol, dl, dt, dd, li, form, input, table, th, td, img, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    font-size: 12px;
    font-style: normal;
    color: #000;
    font-family: 'Microsoft Yahei', '微软雅黑', 'Simsun', '宋体', 'Arial', sans-serif;
    background: #fff;
}

em, b, i {
    font-style: normal;
}

li {
    list-style: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
    color: #777;
}

a:hover {
    text-decoration: none;
    color: #188eee;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}


/* common style */
.hide {
    display: none;
}

.flt {
    float: left;
}

.frt {
    float: right;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}


/* main style */
.container {
    width: 100%;
}

.module-content {
    width: 1200px;
    margin: 0 auto;
}

.module-header {
    height: 70px;
}

.module-header .header-inner {
    height: 70px;
}

.header-nav {
    margin-left: 35px;
}

.header-nav li {
    float: left;
}

.header-nav li a {
    display: block;
    padding: 0 15px;
    margin-left: 15px;
    font-size: 16px;
    line-height: 70px;
}

.header-nav li a:hover {
    background-color: #f5f5f6;
}

.module-body {
    min-height: 800px;
    background: #6c0;
}

.module-footer {
    height: 150px;
    background: #ccc;
}