/*重置样式*/
body,div,p,ul,ol,dl,dt,dd,li,form,input,table,th,td,img,h1,h2,h3,h4,h5,h6 {margin: 0; padding: 0;}
body { background: #fff; font-size: 12px; font-style: normal; font-family:'Microsoft Yahei','微软雅黑','Simsun','宋体','Arial', sans-serif; color: #000;}
em, b, i {font-style:normal;}
li {list-style:none;}
img {border:0;}
a { text-decoration:none; color:#08c;}
a:hover { text-decoration:underline; color:#f50;}
table { border-spacing:0; border-collapse:collapse;}

.flt {
    float: left;
}

.frt {
    float: right;
}

.clearfix { *zoom: 1;}
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: "";}
.clearfix:after { clear: both;}

.header-bg {
    height: 50px;
    background: #000;
}

.header {
    height: 20px;
    padding: 15px 0;
}

.logo {
    position: relative;
    width: 46px;
    height: 17px;
    background: url("../images/logo.png");
}

.logo a {
    display: inline-block;
    width: 46px;
    height: 17px;
    font-size: 0;
}

.nav li {
    float: left;;
}

.nav li a {
    display: inline-block;
    margin-left: 35px;
    font-size: 14px;
    color: #fff;
}

.nav li.active a {
    color: #868686;
}

.nav li a:hover {
    color: #868686;
    text-decoration: none;
}

.focus {
    height: 658px;
    background-color: #08c;
}

.flexslider{position:relative;height:658px;overflow:hidden;background:url("../images/loading.gif") 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:658px;}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url("../images/dot.png") right 0 no-repeat;cursor:pointer;}
.flex-control-nav .flex-active{background-position:0 0;}

.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
.flex-direction-nav li a.flex-prev{left:40px;background:url("../images/prev.png") center center no-repeat;}
.flex-direction-nav li a.flex-next{right:40px;background:url("../images/next.png") center center no-repeat;}

.content {
    width: 1240px;
    margin: 0 auto;
}

.module-main {
    padding: 20px 0;
}

.module {
    height: 165px;
}

.app-body {
    padding: 55px 0;
}

.app-box li {
    float: left;
    width: 412px;
    height: 52px;
    padding-top: 5px;
    border-left: 1px solid #e1e1e1;
}

.app-box li:first-child {
    border-left: 0;
}


.app-img {
    float: left;
    width: 48px;
    height: 48px;
    margin: 0 25px 0 50px;
}

.app-desc {
    float: left;
    width: 260px;
}

.app-desc span {
    display: block;
}

.desc-t3 {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.click-text {
    font-size: 14px;
    color: #666;
}

.app-link:hover .desc-t3,
.app-link:hover .click-text {
    color: #f78200;
}

.module-list {
    min-height: 600px;
}

.articles-list {
    width: 940px;
    padding: 15px 0;
}

.articles-list li {
    padding: 10px 0;
    border-bottom: 1px dashed #ccc;
}

.articles-list li > a,
.articles-list li > span {
    display: block;
}

.articles-list li .article-title {
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 28px;
    color: #36506;
}

.articles-list li .article-overview {
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.article-info {
    padding: 10px 0;
}

.article-info > a,
.article-info > small {
    display: inline-block;
    margin-right: 10px;
}

.article-info a {
    padding: 2px 5px;
    border: 1px solid #09c;
    border-radius: 2px;
}

.article-info small {
    color: #999;
}

.article {
    width: 800px;
    min-height: 600px;
    padding: 20px;
    border: 1px solid #ddd;
}

.article .title {
    font-size: 22px;
    line-height: 40px;
    color: #244666;
    text-align: center;
}

.article .info {
    margin-bottom: 10px;
    color: #999;
    text-align: center;
}

.article .info span {
    margin: 0 10px;
}

.article .detail p {
    padding: 8px 0;
    font-size: 14px;
    text-indent: 2em;
    line-height: 20px;
}



.sider-box .sider-title {
    width: 350px;
    height: 35px;
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 35px;
    border-left: 10px solid #e9e9e9;
    background: #f3f3f3;
}

.rcmd-video li {
    height: 66px;
    margin-bottom: 15px;
    background: #f3f3f3;
}

.rcmd-video li .item-pic {
    position: relative;
    float: left;
    width: 150px;
    height: 66px;
    margin-right: 15px;
}

.rcmd-video li .item-pic img {
    width: 100%;
    height: 100%;
}

.rcmd-video li .item-pic .icons-play {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 66px;
    background: url("../images/play.png") no-repeat;
    background-size: cover;
}

.rcmd-video li:hover .item-pic .icons-play {
    display: block;
}

.rcmd-video li .item-title {
    padding: 10px 15px 10px 0;
    font-size: 14px;
    line-height: 20px;
}

.footer {
    height: 160px;
    background: #ccc;
}
