* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.warp {
    position: relative;
    height: 100%;
}

.sider-nav {
    float: left;
    width: 220px;
    height: 100%;
    background: #08c;
}


.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 220px;
    height: 120px;
    background: #2c0;
}


.content {
    position: absolute;
    top: 120px;
    right: 0;
    left: 220px;
    bottom: 0;
    padding: 20px;
    background: #f3f3f3;
    overflow: auto;
    text-align: justify;
}
