<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/master.css">
    <title>个人中心</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/libs/storage.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="content">
            <p class="text-welcome">Hello，<span id="nickname">-</span></p>
        </div>
    </div>
    <script>
        var userInfoString = Storage.getCookie('userInfo');
        var userInfo = JSON.parse(userInfoString);

        $('#nickname').text(userInfo.nickname);
    </script>
</body>
</html>
