/* 重置样式 */

body, div, p, ul, ol, dl, dt, dd, li, form, input, table, th, td, img, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    font-size: 12px;
    color: #000;
    font-style: normal;
    font-family: 'Microsoft Yahei', '微软雅黑', 'Simsun', '宋体', 'Arial', sans-serif;
    background-color: #99d6f3;
}

.user-bg {
    background: url("../images/web_body_bg.jpg") no-repeat;
    background-position: center top;
}

em, b, i {
    font-style: normal;
}

li {
    list-style: none;
}

img {
    border: none;
}

a {
    color: #08c;
    text-decoration: none;
}

a:hover {
    color: #f50;
    text-decoration: underline;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

input {
    outline: none;
}

.flt {float:left;}
.frt {float:right;}
.clearfix { *zoom: 1;}
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: "";}
.clearfix:after { clear: both;}

/* master module */

.module-header {
    height: 50px;
    border-top: 2px solid #fa7d3c;
    background: #fff;
}

.header {
    width: 1244px;
    height: 52px;
    margin: 0 auto;

}

.hd-logo {
    float: left;
    position: relative;
    width: 100px;
    height: 28px;
    padding: 10px 20px;
}

.hd-logo .logo {
    display: inline-block;
    width: 80px;
    height: 27px;
    background: url("../images/WB_logo.png") no-repeat;
}

.hd-input {
    float: left;
    position: relative;
    width: 450px;
    padding: 10px 0;
}

.hd-input .hot-search {
    width: 438px;
    height: 22px;
    padding: 2px 5px;
    background: #f6f6f6;
    border: 1px solid #bdbdbd;
}

.hd-input .hot-search:focus {
    background: #fff;
    border: 1px solid #f60;
}

.hd-input .icon-search {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 18px;
    height: 23px;
    background: url("../images/wb_search.png") no-repeat;
    background-size: 18px 18px;
    cursor: pointer;
}

.hd-nav {
    float: left;
}

.hd-nav ul {
    padding: 15px 0;
    margin-left: 78px;
    overflow: hidden;
}

.hd-nav ul li {
    float: left;
    margin-left: 20px;
    font-size: 14px;
}

.icon-home {
    background: url("../images/icon-home.png") no-repeat;
}

.icon-video{
    background: url("../images/icon-video.png") no-repeat;
}

.icon-compass {
    background: url("../images/icon-compass.png") no-repeat;
}

.icon-game {
    background: url("../images/icon-game.png") no-repeat;
}

.icon-user {
    background: url("../images/icon-user.png") no-repeat;
}

.hd-nav ul li a {
    color: #333;
}

.hd-nav ul li a:hover {
    color: #f60;
    text-decoration: none;
}

.hd-nav ul li i {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 3px;
    background-size: 20px 20px;
    vertical-align: middle;
}

.hd-nav ul li .nav-text {
    display: inline-block;
    margin-left: -2px;
}



.hd-options {
    width: 130px;
    margin: 15px 0;
    border-left: 1px solid #ddd;
}

.hd-options ul li {
    position: relative;
    float: left;
    height: 24px;
    margin-left: 18px;
}

.icon-email {
    background: url("../images/icon-email.png") no-repeat;
}

.icon-setting {
    background: url("../images/icon-setting.png") no-repeat;
}

.icon-edit {
    background: url("../images/icon-edit.png") no-repeat;
}

.hd-options ul li a {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 2px;
    background-size: 20px 20px;
}

.hd-options ul li .corner-mark {
    display: inline-block;
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 0 6px;
    font-size: 12px;
    color: #fff;
    background: #f60;
    border-radius: 3px;
}


.module-body {
    min-height: 600px;
}

.module-footer {
    height: 120px;
    background: #ccc;
}

.content {
    width: 1000px;
    margin: 0 auto;
    background: #09c;
}


.web-iframe {
    min-height: 600px;
    padding: 15px 0;
    box-sizing: border-box;
    background-color: rgba(52,143,179,0.25);
}

.web-left {
    float: left;
    width: 150px;
}

.wb-user-nav {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.wb-user-nav:first-child {
    border-top: none;
}

.wb-user-nav li {
    font-size: 14px;
    line-height: 34px;
    cursor: pointer;
}

.wb-user-nav li:hover {
    background: rgba(255, 255, 255, 0.2);
}

.wb-user-nav li a {
    display: inline-block;
    width: 100%;
    padding-left: 15px;
    color: #fff;
    text-decoration: none;
}

.nav-main {
    padding-bottom: 12px;
}

.nav-main li {
    font-weight: bold;
}

.nav-subs {
    padding: 12px 0;
}


.wb-main {
    float: right;
    width: 850px;
    height: 600px;

}

.wb-main-topic {
    width: 600px;
    margin-right: 10px;
}

.wb-publish-box {
    height: 165px;
    border-radius: 3px;
    background: #fff;
}

.wb-main-sidebar {
    width: 230px;
    margin-right: 10px;
}

.wb-main-sidebar .wb-user-info {
    height: 165px;
    background: #fff;
}
