@charset "utf-8";
/*重置样式*/
body,div,p,ul,ol,dl,dt,dd,li,form,input,table,th,td,img,h1,h2,h3,h4,h5,h6 { margin: 0;padding: 0;}
body { background: #fff; color: #000; font-size: 12px; font-style: normal; font-family: "Microsoft Yahei"}
address,caption,dfn,th,var,cite,code,i,em,label,input,select,textarea{font-style:normal;font-weight:normal;font-family:inherit;}
input[type="submit"],input[type="reset"],input[type="button"]{cursor:pointer;}
select,input,textarea{font-family:inherit;margin:0;}
li { list-style:none;}
img { border:none; background:none;}
a { text-decoration:none; color:#333333; border: none}
a:hover { text-decoration:underline; color:#5d709a}
table { border-spacing:0; border-collapse:collapse;}
/*清除浮动*/
.clearfix { *zoom: 1;} 
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: "";}
.clearfix:after { clear: both;}
/*公共*/
.flt{ float: left}
.frt{ float: right}
.hide{ display: none}
.clear{ clear: both}

/*footer样式*/
.footer{height: 122px; background-color: #405580; color: #fff}
.wx,.copyright{ float: left;}
.wx{ width: 11%; text-align: center; padding-top: 8px; line-height: 25px}
.wx img{ width: 83px; height: 83px;}
.copyright{ padding-top: 20px}
.footer-nav a{ display: inline-block; padding: 3px 5px; background-color: #667eae; color: #fff}
.footer-nav a:hover{ background-color: #eeeeee; color: #575757; text-decoration: none}
.footer-nav label{ padding: 3px 5px; background-color: #5d709a; margin-left: 20px}
/*清除select默认样式*/
.footer select{appearance:none;
-moz-appearance:none;
-webkit-appearance:none; overflow: hidden;}
.footer select::-ms-expand { display: none; }
.footer option{ color: #575757;}
.footer-nav select{ width: 205px; height: 24px; border: none; background: url(../images/bg_subcompany.jpg) no-repeat left top #fff; margin-left: 1px; padding-left: 10px}
.copyright .text{ line-height: 25px; padding-top: 10px}
.copyright .text span{ padding-right: 30px}
.friendly-link{ margin-right: 30px; margin-top: 38px;}
.friendly-link select{ width: 213px; height: 30px; padding-left: 10px; border: none; background: url(../images/bg_friendlylink.jpg) no-repeat left top #fff; cursor: pointer;}

/*关于君安 列表页*/
/*头部样式*/
.container{ width: 1200px; margin-left: auto; margin-right: auto; padding-left: 0; padding-right: 0}
.header-top{ background-color: #f4f4f4; line-height: 50px}
.welcome{ float: left;}
.welcome .text{ color: #ac2624}
.welcome .time{ color: #888888}
.search{ float: right;}
.search a { color: #535353}
.search i{ display: inline-block; width: 36px; height: 24px; margin-left: 15px; margin-right: 5px; vertical-align: middle; }
.hongqi{ background: url(../images/hongqi.jpg) no-repeat center left; background-size: contain}
.american{background: url(../images/americanflat.jpg) no-repeat left center; background-size: contain}
.search input{ width: 214px; height: 26px; margin-left: 20px; padding-left: 5px; padding-right: 5px; border: 1px solid #e9e9e9; background: url(../images/zoom.png) no-repeat right center #fff; background-origin: content-box}
.header-main{ height: 85px;}
.header-main img{ width: 204px; height: 57px; margin-top: 14px}

.common-nav { float: right; margin-top: 40px; /*line-height: 85px;*/ font-size: 16px;}
.common-nav > li{position: relative; float: left; margin-left: 66px; }
/*.common-nav li > a:hover{ color: #a60200; text-decoration: none}*/
.common-nav > li > a:hover{ color: #a60200; text-decoration: none}

.sec-nav { display: none; position: absolute; top: 45px; left: -200px; height: 30px; padding: 5px 0;  /* padding-left: 60px; padding-right: 60px; margin-top: -7px; padding-top: 7px;*/
	background: rgb(166, 1, 2);
	 font-size: 14px; white-space: nowrap;}
.sec-nav:before {
    position: absolute;
    top: 0;
    left: -84px;
    display: inline-block;
    content: "";
    width: 84px;
    height: 30px;
    background: url("../images/bg_tringle1.png") no-repeat;
}

.sec-nav:after {
    position: absolute;
    top: 0;
    right: -84px;
    display: inline-block;
    content: "";
    width: 84px;
    height: 30px;
    background: url("../images/bg_tringle2.png") no-repeat;
}

.sec-nav > li { display: inline-block; min-width: 80px; padding: 0 10px; color: #fff; line-height: 16px; /*margin: 10px 20px*/ border-right: 1px solid #fff;}
/*.sec-nav li.line{ width: 1px; height: 14px; background-color: #fff}*/
/*.sec-nav li span{ padding-left: 30px; padding-right: 30px}*/
.sec-nav li a{ color: #fff}
.common-nav > li:hover .sec-nav {display: block;}
/*头部结束*/

/*主体main开始*/
.main{ background: url(../images/bg_banner_about.jpg) no-repeat center top #e9edf6; background-size: 100%; min-width: 1200px}
.bg{ background: url(../images/bg_news.jpg) no-repeat center top #e9edf6;}
.main h2{ padding-left: 35px; margin-top: 170px; margin-bottom: 50px; font-size: 28px; color: #fff; height: 65px; background: url(../images/yellowline.jpg) no-repeat 35px bottom;}
.main h2 span{ font-size: 20px}

.main-body{ padding-bottom: 60px}
.main-left{ width: 200px; height: 330px; font-size: 14px; background-color: #fff; padding-left: 20px; padding-right: 20px; padding-top: 25px}
.main-left a{ display: block; line-height: 30px; padding-left: 33px; margin-bottom: 10px; color: #666666; background-color: #e9edf6}
.main-left a.active{ color: #fff; background-color: #2553b3}
.main-left a:hover{ color: #fff; background-color: #2553b3; text-decoration: none}
.main-right{ width: 943px; background-color: #fff; padding-left: 43px; padding-right: 43px; padding-top: 33px}
.r-t{ overflow: hidden; border-bottom: 1px solid #e5e5e5}
.main-right h4{ float: left; background: url(../images/blueline.jpg) no-repeat left bottom; line-height: 40px}
.breadcrumb{ background-color: #fff; padding: 0; margin: 0; line-height: 40px}
.breadcrumb a,.breadcrumb a.active{ color: #9a9a9a}
.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "> ";
    padding: 0 2px;
}
.r-b{ margin-top: 20px; padding-bottom: 90px; overflow: hidden;}
.r-b .article,.r-b .pic-list{ float: left;}
.r-b .article{ width: 610px;}
.r-b .pic-list{ width: 247px; text-align: right;}
.pic-list ul{ overflow: hidden;}
.article p{ font-size: 14px; line-height: 25px; color: #666666; margin-bottom: 20px; text-indent: 2em}
.pic-list img{ width: 220px; margin-bottom: 10px;}

.main-b{ height: 258px; padding-top: 40px; background-color: #fff}
.main-b .logo{ width: 220px;line-height:25px}
.main-b .logo img{ margin: 0}
.b-nav li{ float: left; height: 180px; border-left: 1px solid #e5e5e5; padding-left: 30px; padding-right: 60px; font-size: 14px; line-height: 35px}
.b-nav li a{ display: block; color: #999999; font-size: 12px; line-height: 20px}
.b-nav li span{ display: block; font-size: 12px; color: #999999; line-height: 20px; letter-spacing: 1px}
.b-nav li span i{ display: inline-block; width: 20px; height: 14px; vertical-align: middle;}
.icon-phone{ background: url(../images/icon_phone.png) no-repeat left top;}
.icon-email{ background: url(../images/icon_email.png) no-repeat left top;}

.b-nav2 a{ display: block; color: #fff; background-color: #5d709a; padding: 10px 30px; margin-bottom: 7px; font-size: 14px}
.b-nav2 i{ display: inline-block; width: 42px; height: 33px; vertical-align: middle;}
.b-nav2 .icon_1{ background: url(../images/bangongpingtai.jpg) no-repeat left top;}
.b-nav2 .icon_2{ background: url(../images/junan_video.jpg) no-repeat left top;}
