body,
div,
p,
ul,
ol,
dl,
dt,
dd,
li,
form,
input,
table,
th,
td,
img,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}



body {
    background: #fff;
    color: #000;
    font-size: 1.88vw;
    font-style: normal;
    font-family: "Microsoft Yahei";
    user-select: none;
}



p {
    line-height: 1.6
}



em,
b,
i {
    font-style: normal;
}



img {
    border: none;
}



a {
    text-decoration: none;
    color: #000;
}



a:hover {
    text-decoration: none;
    color: #cc0000;
}



li {
    list-style: none;
}



table {
    border-spacing: 0;
    border-collapse: collapse;
}



.flt {
    float: left;
}



.frt {
    float: right;
}



/*清除浮动*/



.clearfix {
    *zoom: 1;
}



.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}



.clearfix:after {
    clear: both;
}



.hide {
    display: none;
}



/* cinema-list-LayOut */



.cinema-top{
	z-index: 100;
	width: 100%;
	height: 10.94vw;
	line-height: 10.94vw;
	background-color: #fff;
	position: fixed;
	top: 0;
	color: #999;
	border-bottom: 1px solid #ededed;
}



.cinema-top .city-selector{
		float: left;
		width: 16%;
		height: 10.94vw;
		background:url(../img/home/logo-c560c4c6a7.png) no-repeat;
		background-size: 6.7vw;
		background-position-x:2.1vw;
		background-position-y:2.1vw;
		padding-left: 10.94vw;
	}



.cinema-top .city-selector .city-name{
			display: inline-block;
			font-size: 4.38vw;
			position: relative;
		}



.cinema-top .city-selector .selector-i-arrow{
			display: inline-block;
			/* margin-left: 1.1vw; */
			margin-bottom: 0.78vw
		}



.cinema-top .city-selector .selector-i-arrow:after {
    content:'';
    display: block;
    width: 1.25vw;
    height: 1.25vw;
    border: 1px solid #999;
    border-top: 0 none;
    border-left: 0 none;
    transform: rotate(45deg);
}



.cinema-top .topbar-container{
		box-sizing: border-box;
	    display: flex;
	    padding-left: 1.56vw;
	}



.cinema-top .topbar-container .topbar-selector{
             flex: 1;
             color: #333;
             font-size: 4.06vw
        }



.cinema-top .topbar-container .topbar-selector::before {
    content:'';
    display: block;
    position: absolute;
    width: 1px;
    height: 6.1vw;
    background-color: #e2e2e2;
    top: 0;
    bottom: 0;
    margin: auto;
}



.cinema-top .topbar-container .topbar-selector .selector-value {
             	max-width: 14.1vw;
             	text-align: center;
             	white-space: nowrap;
             	overflow: hidden;
             	text-overflow: ellipsis;
}



.cinema-top .topbar-container .topbar-selector .selector-i-arrow {
             	width: 1.56vw;
             	height:1.41vw;
             	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000' xmlns:xlink='http://www.w3.org/1999/xlink'%3E   %3Cdefs%3E     %3Cpath id='a' d='M383.25 743.53c64.55 75.028 168.754 75.56 233.764 0l350.76-407.68c64.552-75.028 29.014-135.85-78.79-135.85H111.28c-108.067 0-143.8 60.29-78.79 135.85l350.76 407.68z'/%3E   %3C/defs%3E   %3Cuse fill='%23231815' xlink:href='%23a' overflow='visible'/%3E %3C/svg%3E");
             	background-position:50%;
             	background-repeat: no-repeat;
             	background-size: cover;
             	margin-top: -6.25vw;
             	margin-left: 15.63vw;
}



.cinema-top .topbar-container .search-selector{
       	flex: 1;
       	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000'%3E   %3Cpath fill='%238a869e' d='M753.245 753.307c156.988-156.988 156.988-411.517 0-568.505s-411.517-156.988-568.505 0-156.988 411.517 0 568.505 411.517 156.988 568.505 0zm22.855 70.23C591.856 983.49 312.553 975.87 137.365 800.682c-183.153-183.153-183.153-480.103 0-663.256s480.103-183.153 663.255 0c175.19 175.188 182.807 454.492 22.855 638.735L990.23 942.92c13.023 13.022 13.066 34.093-.108 47.266-13.082 13.082-34.48 12.894-47.266.11L776.1 823.536z'/%3E %3C/svg%3E");
       	background-repeat: no-repeat;
       	background-size: 5.47vw;
       	width: 5.47vw;
       	color: #999;
       	font-size: 4.06vw;
       	background-position: 50%
       }



.cinema-top .topbar-container .search-selector::before {
    content:'';
    display: block;
    position: absolute;
    width: 1px;
    height: 6.1vw;
    background-color: #e2e2e2;
    top: 0;
    bottom: 0;
    margin: auto;
}



.cinema-top .topbar-container .search-selector .icon-search {
       		color: transparent;
}



.tab-mod{
	padding-top: 10.94vw;
}



.tab-mod .list-item{
		font-size:1.88vw;
		line-height: 200%;
		padding-left: 4vw;
		padding-bottom: 1px;
		overflow: hidden;
	}



.tab-mod .list-item .list-item-container{
		/* 	background: linear-gradient(0deg,#ededed,#ededed 50%) 0 100% repeat-x;
			background-size: 100% 1px; */
			/* padding-bottom: 3.2vw; */
			border-bottom: 1px solid #ededed;

		}



.tab-mod .list-item .list-item-container .list-item-anchor{
				display: block;
				position: relative;
				padding-top: 3.5vw;
			}



.tab-mod .list-item .list-item-container .list-item-anchor h3{
					position: relative;
					font-size: 1.0625rem;
					font-weight: 500;
					color: #000;
					/* margin-bottom: 4px; */
				    line-height: 5.4vw;
				}



.tab-mod .list-item .list-item-container .list-item-anchor h3 .list-title{
                       display: inline-block;
                       white-space: nowrap;
                       overflow: hidden;
                       text-overflow: ellipsis;
                       max-width: 72vw;
					}



.tab-mod .list-item .list-item-container .list-item-anchor h3 .list-price{
						display: inline-block;
						color: #ff4d64;
					
						font-size: 0.9375rem;
						font-weight: 400;
						vertical-align: baseline;
						margin-right: .3vw;
						position: absolute;
						top: 0;
						right: 0;
						padding-right: 4vw;
					}



.tab-mod .list-item .list-item-container .list-item-anchor h3 .list-price span{
							font-size: 1.88vw;
							color: #999;
						}



.tab-mod .list-item .list-item-container .list-item-anchor h3 .list-price span .primary-color{
								color: #ff4d64;
							}



.tab-mod .list-item .list-item-container .list-item-anchor .list-address{
                    line-height: 1.5;
                    position: relative;
                    padding-right: 4vw;
				}



.tab-mod .list-item .list-item-container .list-item-anchor .list-address .list-location{
                    	width:72vw;
                    	font-size: .8125rem;
                    	overflow: hidden;
                    	white-space: nowrap;
                    	text-overflow: ellipsis;
                    }



.tab-mod .list-item .list-item-container .list-item-anchor .list-status .tpp-tips{
						display: inline-block;
						height: 4.69vw;
						line-height: 4.69vw;
						white-space: nowrap;
						font-weight: 400;
						padding: 0 1.25vw;
					}



.tab-mod .list-item .list-item-container .list-item-anchor .list-status .tpp-outline-info{
						position: relative;
						color: #349cec;
						background-color: transparent
					}



.tab-mod .list-item .list-item-container .list-item-anchor .list-status .tpp-outline-info::after {
    content:"";
    position:absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border: 1px solid #349cec;
    width: 100%;
    height: 100%;
    border-radius: 0.63vw;
    transform-origin: 0 0;
    pointer-events: none;
}



.tab-mod .list-item .list-item-container .list-item-anchor .list-activity .activity-item{
						height: 6vw;
						line-height:1;
						color: #999;
	                    overflow: hidden;
	                    text-overflow: ellipsis;
	                    white-space: nowrap;
	                    margin-top: 0.63vw;
					}



.tab-mod .list-item .list-item-container .list-item-anchor .list-activity .activity-item .icon-activity{
	                    	background-color: #fea54c;
	                    	display: inline-block;
	                    	border-radius: 0.31vw;
	                    	width: 4.06vw;
	                    	height: 4.06vw;
	                    	line-height: 4.06vw;
	                    	color: #fff;
	                    	text-align: center;
	                    	margin-right: 0.78vw;
	                    }



.tpp-menu-wrap{
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff linear-gradient(180deg,#ededed, 50%,transparent 0) 0 0 repeat-x;
    background-size: 100% 1px;
    background-color: hsla(0,0%,100%,.98);
}



.tpp-menu-wrap .tpp-menu{
        display: flex;
        height: 13.1vw;
        box-sizing: border-box;
        padding-top: 1.9vw;
    }



.tpp-menu-wrap .tpp-menu .tpp-menu-item{
            flex: 1 1 auto;
        }



.tpp-menu-wrap .tpp-menu .tpp-menu-item .icon{
                display: block;
                background-image: url(../img/home/movie-red-40cd43eeea.png);
                width: 100%;
                height: 5.9vw;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 50%;
                margin: 0 auto;
            }



.tpp-menu-wrap .tpp-menu .tpp-menu-item .name{
                display: block;
                width: 100%;
                 text-align: center;

            }



.tpp-city-selector.top-in{
    opacity: 1;
    transform: translateZ(0);
}



.tpp-city-selector{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2000;
    background-color: #fcfcfc;
    overflow: hidden;
    height: 100%;
  
}



.tpp-city-selector .city-title{
        width: 100%;
        height: 14.06vw;
        border-bottom: 1px solid #e9e9e9;
        background-color: #fff;
        color: #000;
        font-size: 5vw;
        line-height: 14.06vw;
        text-align: center;
        position: absolute;
        top: 0;
        z-index: 1002;
    }



.tpp-city-selector .city-title .btn-close{
            position: absolute;
            top: 0;
            right: 0;
            width: 14.06vw;
            height: 14.06vw;
            font-size: 6.25vw;
            color: #777;
            text-align: center;
        }



.tpp-city-selector .city-list{
        box-sizing: border-box;
        color: #777;
        overflow-x: hidden;
        overflow-y: scroll;
        position: absolute;
        top: 14.06vw;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 1.88vw;
    }



.tpp-city-selector .city-list h3{
            margin: 0;
            padding: 2.81vw 3.13vw;
            background:#eee;
            font-weight: 400;
        }



.tpp-city-selector .city-list ul{
            margin: 0;
            padding: 0 0 0 4.69vw;
            color: #777;
            
        }



.tpp-city-selector .city-list ul li{
            display: block;
            padding: 3.75vw 3.75vw 3.75vw 0;
            font-size: 4.69vw;
            overflow: hidden;
            background:transparent linear-gradient(0deg,#ededed,#ededed 50%,transparent 0,transparent 0) 0 100% repeat-x;
            background-size: 100% 1px;
            }



.tpp-city-selector .city-index{
        position: absolute;
        z-index: 1001;
        top: 50%;
        right: 0;
        white-space: nowrap;
        overflow: hidden;
        padding: 1.88vw 0;
        width: 9.38vw;
        will-change:transform;
        transform: translate3d(100%,-50%,0);
        transition: opacity .2s ease-out,transform .2s ease-out,-webkit-transform .2s ease-out;
    }



.tpp-city-selector .city-index ul{
            float: left;
            margin: 0;
            padding: 0;
            width: 100%;
        }



.tpp-city-selector .city-index ul li{
                list-style: none;
                height: 5.47vw;
                text-align: center;
                color: #349cec;
            }



.tpp-city-selector .city-index.left-in{
    opacity: 1;
    transform: translate3d(0,-50%,0);
}



@media screen and (max-height: 600px){
    .tpp-city-selector .city-index li{
        height: 4.69vw;
        line-height: 4.69vw;
    }
}



.selector-mod{
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.3);
	z-index: 99;
}



.selector-mod .selector-in{
		padding:4vw;
		background-color: #fff;
		overflow: auto;
	}



.selector-mod .selector-in li{
			display: inline-block;
			width: 19.3vw;
			padding-bottom: 2.1vw;
			padding-left: 2.1vw;
		}



.selector-mod .selector-in li div{
				position: relative;
				padding:1.33333vw .8vw
			}



.selector-mod .selector-in li div::after {
    content:'';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #d5d5d5;
    border-radius: 0.63vw;
}



.selector-mod .selector-in li div span {
				font-size: .8125rem;
				display: block;
				text-align: center;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
}



/* 点击时外框为红色 开始*/



.selector-in li.active div{color: #ff4d64}



.selector-in li.active div:after{
	position: absolute;
    content: "";
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid #ff4d64;
    border-radius: 0.63vw;
    pointer-events: none;
}



/* 结束 */



.topbar-container .topbar-selector.down .selector-value{
	color:#ff4d64; 
}



.topbar-container .topbar-selector.down .selector-i-arrow{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000' xmlns:xlink='http://www.w3.org/1999/xlink'%3E   %3Cdefs%3E     %3Cpath id='a' d='M383.25 743.53c64.55 75.028 168.754 75.56 233.764 0l350.76-407.68c64.552-75.028 29.014-135.85-78.79-135.85H111.28c-108.067 0-143.8 60.29-78.79 135.85l350.76 407.68z'/%3E   %3C/defs%3E   %3Cuse fill='%23ff4d64' xlink:href='%23a' overflow='visible'/%3E %3C/svg%3E");
	transform: rotate(180deg);
}



/* 离我最近 */



.selector-mod[type=vertical] .selector-in{
   padding:0;
   background-color: #fff;
   max-height: 80%;
   	}



.selector-mod[type=vertical] .selector-in li{
    display: block;
    float: none;
    border: none;
    margin: 0;
    width: auto;
    height: 10.94vw;
    line-height: 10.94vw;
    font-size: .875rem;
    position: relative;
    padding: 0;
    padding-left: 8.59vw 
       }



.selector-mod[type=vertical] .selector-in li::after {
    pointer-events: none;
    position: absolute;
    content: "";
    height: 1px;
    background: #d5d5d5;
    left: 0;
    right: 0;
}



.selector-mod[type=vertical] .selector-in li div {
    	padding:0;
}



.selector-mod[type=vertical] .selector-in li div::after {
    border:none;
}



.selector-mod[type=vertical] .selector-in li div span {
    		text-align: left;
}



.selector-mod[type=vertical] .selector-in li.active{
       	color: #ff4d64;
       	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='18'%3E%3Cpath fill='%23ff4d64' fill-rule='evenodd' d='M9.858 14.348L2.528 6.86c-.578-.59-1.516-.59-2.094 0-.58.59-.58 1.55 0 2.14l8.377 8.557c.29.295.67.443 1.05.443s.758-.148 1.048-.443l14.66-14.975c.58-.59.58-1.548 0-2.14-.578-.59-1.516-.59-2.094 0L9.858 14.35z'/%3E%3C/svg%3E");
       	background-repeat: no-repeat;
       	background-position: 1.41vw;
       	background-size: 4.69vw 2.97vw;
       }



/* cinema-search-container */



.cinema-search-container{
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: #fff;
     z-index: 2000;
     height: 100%;
   }



.cinema-search-container .cinema-search-hd{
           padding:4vw;
     }



.cinema-search-container .cinema-search-hd .cinema-search-cancel{
            float: right;
            color: #349cec;
            margin-left: 4.1vw;
            font-size: 4.38vw;

        }



.cinema-search-container .cinema-search-hd .cinema-search-control{
            border: 1px solid #d5d5d5;
            padding-right: 9.38vw;
            overflow: hidden;
            padding-left: 9.38vw;
            position: relative;
            border-radius: 0.63vw;
        }



.cinema-search-container .cinema-search-hd .cinema-search-control .cinemaSearchInput{
                height: 7.81vw;
                font-size: .75rem;
                width: 100%;
                border: 0 solid  transparent;
                outline: none;
            }



.cinema-search-container .cinema-search-hd .cinema-search-control .icon-search{
                position: absolute;
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1024' height='1024' viewBox='0 0 1024 1024'%3E%3Cpath class='svgpath' data-index='path_0' fill='%23808080' d='M959.584 882.654l-149.97-160.472c60.788-73.208 94.218-164.468 94.218-260.537 0-225.375-183.4-408.774-408.84-408.774-225.375 0-408.774 183.367-408.774 408.775s183.4 408.773 408.807 408.773c59.053-.03 116.005-12.355 169.243-36.602 15.82-7.202 22.802-25.848 15.6-41.635-7.203-15.85-25.946-22.86-41.636-15.594-45.062 20.5-93.242 30.91-143.24 30.94-190.72 0-345.882-155.155-345.882-345.88 0-190.693 155.16-345.882 345.88-345.882 190.755 0 345.945 155.16 345.945 345.882 0 89.783-34.24 174.843-96.38 239.53-12.044 12.515-11.636 32.422.85 44.466.94.912 2.168 1.257 3.24 2.044.847 1.256 1.284 2.7 2.354 3.833l162.64 174.027c6.165 6.636 14.562 9.966 22.954 9.966 7.707 0 15.412-2.797 21.484-8.49 12.67-11.792 13.363-31.697 1.506-44.37z'/%3E%3C/svg%3E");
                width: 4.38vw;
                height: 4.38vw;
                background-size: 4.38vw 4.38vw;
                background-repeat: no-repeat;
                line-height: 4.38vw;
                top: 50%;
                margin-top: -2.19vw;
                left: 0.63vw; 
            }



