<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .form .row-case {
            margin-bottom: 20px;
        }
    </style>
    <script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.js"></script>
    <script src="/js/main.js"></script>
    <title>Document</title>
</head>

<body>
    <form class="form" id="articleForm" method="post">
        <div class="row-case">
            <input id="titleVal" placeholder="请输入文章标题" value="" name="title" />
        </div>
        <div class="row-case">
            <textarea id="contentBox" rows="5" placeholder="请输入文章内容" name="content"></textarea>
        </div>
        <div class="row-case">
            <button id="submitBtn" type="submit">保存</button>
        </div>
    </form>
    <script>
        var userStr = getCookie('userInfo');
        var userInfo = userStr ? JSON.parse(userStr) : null;
        if(!userInfo) {
            alert('你当前未登录！');
            window.location.href = '/login.html';
        }
        function getJSONByURL(url) {
            if (!url) {
                url = window.location.href;
            }
            var index = url.indexOf('?');
            if (index == -1) {
                return "{}"
            }
            var str = url.substr(index + 1);
            var arr = str.split('&');
            var json = '{';
            for (var i = 0; i < arr.length; i++) {
                var s = arr[i].indexOf('=');
                if (s == -1) {
                    json += ',"' + arr[i] + '":"undefined"';
                    continue;
                }
                var key = arr[i].substr(0, s);
                var val = arr[i].substr(s + 1);
                var comma = ',';
                if (i == 0) {
                    comma = '';
                }
                json += comma + '\"' + key + '\":' + '\"' + val + '\"';
            }
            return json += '}';
        }
        var urlParams = JSON.parse(getJSONByURL());
        if (urlParams.id) {
            $.ajax({
                url: '/api/article/findById',
                type: 'get',
                data: {
                    id: urlParams.id
                },
                success: function(res) {
                    if (res && res.code === 10000) {
                        var data = res.data;
                        $('#titleVal').val(data.title)
                        $('#contentBox').val(data.content)
                    }
                },
                error: function(err) {

                }
            })
        }
        $('#submitBtn').on('click', function(e) {
            var title = $('#titleVal').val();
            var content = $('#contentBox').val();
            if (urlParams.id) {
                $.ajax({
                    url: '/api/article/edit',
                    type: 'post',
                    data: {
                        id: urlParams.id,
                        title: title,
                        content: content
                    },
                    success: function(res) {
                        if (res && res.code === 10000) {
                            alert(res.msg);
                        }
                    },
                    error: function(err) {

                    }
                })
            } else {
                $.ajax({
                    url: '/api/article/save',
                    type: 'post',
                    data: {
                        title: title,
                        content: content
                    },
                    success: function(res) {
                        if (res && res.code === 10000) {
                            alert(res.msg);
                        } else {
                            alert(res.msg);
                        }
                    },
                    error: function(err) {

                    }
                })
            }
            return false;
        })
    </script>
</body>

</html>
