<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .form .row-case {
            margin-bottom: 20px;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <form class="form" action="index.html" method="post">
        <div class="row-case">
            <input placeholder="请输入文章标题" value="" />
        </div>
        <div class="row-case">
            <textarea rows="5" placeholder="请输入文章内容"></textarea>
        </div>
        <div class="row-case">
            <button type="submit">保存</button>
        </div>
    </form>
</body>
</html>
