<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .form .row-case {
            margin-bottom: 20px;
        }
        .btn-delete {
            padding: 0 10px;
            color: #f00;
            cursor: pointer;
        }
    </style>
    <script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.js"></script>
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>标题</th>
                <th>内容</th>
            </tr>
        </thead>
        <tbody id="articleList">
        </tbody>
    </table>
    <script>
        $.ajax({
            url: '/api/article/getList',
            type: 'get',
            data: {},
            success: function (res) {
                if(res && res.code === 10000) {
                    var list = res.data && res.data.list;
                    renderList(list)
                }
            },
            error: function (err) {

            }
        })

        function renderList(list) {
            var html = '';
            // debugger
            for (var i = 0; i < list.length; i++) {
                var article = list[i];
                html +=  '<tr><td>'+ article.title +'</td><td>'+ article.content +'</td><td><a href="/edit.html?id='+ article._id +'">修改</a><span class="btn-delete" data-id="'+ article._id +'"">删除</v></td></tr>'
            }
            $('#articleList').append(html);
        }

        $('#articleList').on('click', 'tr td span', function (e) {
            if (e.target.tagName.toLowerCase() == 'span') {
                var data = e.target.dataset;
                var id = data && data.id;
                $.ajax({
                    url: '/api/article/delete',
                    type: 'get',
                    data: {
                        id: id
                    },
                    success: function (res) {
                        if(res && res.code === 10000) {
                            alert(res.msg)
                            window.location.reload()
                        }
                    },
                    error: function (err) {

                    }
                })
            }
        })
    </script>
</body>
</html>
