<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .input-field {
            padding: 5px 0;
        }
        .btn-save {
            margin-left: 53px;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <form id="edit-form">
        <div class="input-field">
            <span>标题：</span>
            <input id="title" type="text"/>
        </div>
        <div class="input-field">
            <span>缩略图：</span>
            <input id="fileBox" type="file">
        </div>
        <div class="input-field">
            <span>内容：</span>
            <textarea id="content" rows="5"></textarea>
        </div>
        <div class="input-field">
                <span>作者：</span>
                <input id="author"/>
            </div>
        <button class="btn-save" type="submit">保存</button>
    </form>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $.getUrlParam = function(name) {
            var reg = new RegExp("(^|&)" + name +"=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r!=null) return unescape(r[2]);
            return null;
        }
        
        

        $(document).ready(function () {
            var id = $.getUrlParam('id');
            if (id) {
                $.ajax({
                    url: '/api/article/get',
                    type: 'get',
                    data: {
                        id: id
                    },
                    success: function (res) {
                        // debugger
                        if (res && res.code === 10000) {
                            var data = res.data;
                            $('#title').val(data.title);
                            $('#content').val(data.content);
                            $('#author').val(data.author);
                        }
                    },
                    error: function (err) {
                        console.log(err)
                    }
                });
            }

            var fileUrl = null;

            $('#fileBox').on('change', function (ev) {
                var file = ev.target.files[0];
                var formData = new FormData();
                formData.append('img', file);
                debugger
                $.ajax({
                    url: '/api/files/upload',
                    type: 'post',
                    data: formData,
                    processData: false, // 告诉jQuery不要去处理发送的数据
                    contentType: false, // 告诉jQuery不要去设置Content-Type请求头
                    success: function (res) {
                        if (res && res.code === 10000) {
                            fileUrl = res.data.fileUrl;
                        }
                    },
                    error: function (err) {
                        
                    }
                })
            });

            $('#edit-form').on('submit', function(res) {
                
                var title = $('#title').val();
                var content = $('#content').val();
                var author = $('#author').val();

                if (id) {
                    $.ajax({
                        url: '/api/news/edit',
                        type: 'post',
                        data: {
                            id: id,
                            title: title,
                            content: content,
                            author: author
                        },
                        success: function (res) {
                            if (res && res.code === 10000) {
                                alert(res.msg);
                                location.href = '/system/article-list.html'
                            }
                            console.log(res)
                            // debugger
                        },
                        error: function (err) {
                            console.error(err)
                        } 
                    })
                    return;
                }

                $.ajax({
                    url: '/api/news/save',  // http://127.0.0.1:8080/api/news/save
                    type: 'post',
                    data: {
                        title: title,
                        content: content,
                        img: fileUrl,
                        author: author
                    },
                    dataType: 'json',
                    success: function (res) {
                        if (res && res.code === 10000) {
                            alert(res.msg);
                            location.href = '/'
                        }
                        console.log(res)
                        // debugger
                    },
                    error: function (err) {
                        console.error(err)
                    } 
                })
                return false;
            });
        });
    </script>
</body>
</html>