<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../public/css/style2-3055709797.css">
	<link rel="apple-touch-icon" href="https://f.m.taopiaopiao.com/img/favicon.ico">
	<link rel="Shortcut Icon" href="https://f.m.taopiaopiao.com/img/favicon.ico" type="image/x-icon">
	<script src="../public/js/jquery-3-6a07da9fae.3.1.js"></script>
	
	<title>影院He</title>
</head>
<body>
	   <div class="cinema-top">
	   	     <div class="city-selector city-c">
	   	     	  <div class="city-name">北京 </div>
	   	     	  <div class="selector-i-arrow"></div>
	   	     </div>
	   	     <div class="topbar-container">
	   	     	  <div class="topbar-selector" id="regionSelector">
		   	     	  	<div class="selector-value">区域</div>
	                    <div class="selector-i-arrow"></div>
	   	     	  </div>
	   	     	   <div class="topbar-selector" id="sortSelector">
		   	     	  	<div class="selector-value">离我最近</div>
	                    <div class="selector-i-arrow"></div>
	   	     	  </div>
	   	     	   <div class="topbar-selector" id="supportSelector">
		   	     	  	<div class="selector-value">特色</div>
	                    <div class="selector-i-arrow"></div>
	   	     	  </div>
	   	     	  <div class="search-selector">
	   	     	  	 <div class="icon-search">搜索</div>
	   	     	  </div>
	   	     </div>
	   </div>
	   <div class="tab-mod">
	   	 <ul id="listBox" class="cinema-list-ul">
	   	 	
	   	 </ul>
	   </div>
	   <!-- 底部nav -->
	    <nav class="tpp-menu-wrap">
	   	   <div class="tpp-menu">
	   	   	   <a class="tpp-menu-item" href="index.html">
	   	   	   	  <span class="icon"></span>
	   	   	   	  <span class="name">热映</span>
	   	   	   </a>
	   	   	   <a  class="tpp-menu-item" href="cinemaListLayout.html">
	   	   	   	   <span class="icon"></span>
	   	   	   	  <span class="name">影院</span>
	   	   	   </a>
	   	   	   <a  class="tpp-menu-item" href="login.html">
	   	   	   	   <span class="icon"></span>
	   	   	   	  <span class="name">我的</span>
	   	   	   </a>
	   	   </div>
	   </nav>
        <div class="tpp-city-selector top-in hide">
	   	     <div class="city-title">选择城市
                 <div class="btn-close">✕</div>
	   	     </div>
	   	     <div class="city-list">
	   	     	  <div class="current city-g" id="当前">
	   	     	  	   <h3>当前</h3>
	   	     	  	   <ul>
	   	     	  	   	  <li class="city-item">北京</li>
	   	     	  	   </ul>
	   	     	  </div>
	   	     	  <div class="gps city-g" id="GPS">
	   	     	  	   <h3>GPS</h3>
	   	     	  	   <ul>
	   	     	  	   	  <li class="city-item">浏览器定位失败</li>
	   	     	  	   </ul>
	   	     	  </div>
	   	     	  <div class="hot city-g">
	   	     	  	   <h3>热门</h3>
	   	     	  	   <ul>
		   	     	  	   	<li class="city-item">北京</li>
		   	     	  	   	<li class="city-item">广州</li>
		   	     	  	   	<li class="city-item">深圳</li>
		   	     	  	   	<li class="city-item">上海</li>
		   	     	  	   	<li class="city-item">成都</li>
		   	     	  	   	<li class="city-item">武汉</li>
		   	     	  	   	<li class="city-item">杭州</li>
		   	     	  	   	<li class="city-item">重庆</li>
	   	     	  	   </ul>
	   	     	  </div>
	   	     	  <div class="city-g" id="A">
	   	     	  	  <h3>A</h3>
	   	     	  	  <ul>
	   	     	  	    <li class="city-item">阿贝</li>
	   	     	  	    <li class="city-item">阿贝</li>
	   	     	  	    <li class="city-item">阿贝</li>
	   	     	  	    <li class="city-item">阿贝</li>
	   	     	  	    <li class="city-item">阿贝</li>
	   	     	  	    <li class="city-item">阿贝</li>
	   	     	  	    <li class="city-item">阿贝</li>
	   	     	  	    <li class="city-item">阿贝</li>
	   	     	  	  </ul>
	   	     	  </div>
	   	     	  <div class="city-g" id="B">
	   	     	      <h3>B</h3>
	   	     	      <ul>
	   	     	      	<li class="city-item">白城</li>
	   	     	      	<li class="city-item">白城</li>
	   	     	      	<li class="city-item">白城</li>
	   	     	      	<li class="city-item">白城</li>
	   	     	      	<li class="city-item">白城</li>
	   	     	      	<li class="city-item">白城</li>
	   	     	      	<li class="city-item">白城</li>
	   	     	      	<li class="city-item">白城</li>
	   	     	      </ul>
	   	     	  </div>
	   	     	  <div class="city-g" id="C">
	   	     	  	 <h3>C</h3>
	   	     	  	  <ul>
	   	     	  	  	<li class="city-item">承德</li>
	   	     	  	  	<li class="city-item">承德</li>
	   	     	  	  	<li class="city-item">承德</li>
	   	     	  	  	<li class="city-item">承德</li>
	   	     	  	  	<li class="city-item">承德</li>
	   	     	  	  </ul>
	   	     	  </div>
	   	     	  <div class="city-g" id="D"></div>
	   	     	  <div class="city-g" id="E"></div>
	   	     	  <div class="city-g" id="F"></div>
	   	     	  <div class="city-g" id="G"></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>

	   	     </div>
	   	     <div class="city-index left-in ">
	   	     	<ul>
	   	     		<li class="index-item current">当前</li>
	   	     		<li class="index-item gps">GPS</li>
	   	     		<li class="index-item hot">热门</li>
	   	     		<li class="index-item">A</li>
	   	     		<li class="index-item">B</li>
	   	     		<li class="index-item">C</li>
	   	     		<li class="index-item">D</li>
	   	     		<li class="index-item">E</li>
	   	     		<li class="index-item">F</li>
	   	     		<li class="index-item">G</li>
	   	     		<li class="index-item">H</li>
	   	     		<li class="index-item">I</li>
	   	     		<li class="index-item">J</li>
	   	     		<li class="index-item">K</li>
	   	     		<li class="index-item">L</li>
	   	     		<li class="index-item">M</li>
	   	     		<li class="index-item">N</li>
	   	     		<li class="index-item">P</li>
	   	     		<li class="index-item">Q</li>
	   	     		<li class="index-item">R</li>
	   	     		<li class="index-item">S</li>
	   	     		<li class="index-item">T</li>
	   	     		<li class="index-item">W</li>
	   	     		<li class="index-item">X</li>
	   	     		<li class="index-item">Y</li>
	   	     		<li class="index-item">Z</li>
	   	     	</ul>
	   	     </div>
	   </div>
	   <div class="selector-mod hide regionName" style="top: 35px">
	   	   <ul class="selector-in">
	   	   	   <li class="active">
	   	   	   	  <div><span>不限区域</span></div>
	   	   	   </li>
	   	   	   <li class="">
	   	   	   	  <div><span>昌平区</span></div>
	   	   	   </li>
	   	   	   <li class="">
	   	   	   	  <div><span>朝阳区</span></div>
	   	   	   </li>
	   	   	   <li class="">
	   	   	   	  <div><span>崇文区</span></div>
	   	   	   </li>
	   	   	   <li class="">
	   	   	   	  <div><span>大兴区</span></div>
	   	   	   </li>
	   	   	   <li class="">
	   	   	   	  <div><span>房山区</span></div>
	   	   	   </li>
	   	   	    <li class="">
	   	   	   	  <div><span>丰台区</span></div>
	   	   	   </li>
	   	   	    <li class="">
	   	   	   	  <div><span>海淀区</span></div>
	   	   	   </li>
	   	   	    <li class="">
	   	   	   	  <div><span>怀柔区</span></div>
	   	   	   </li>
	   	   	    <li class="">
	   	   	   	  <div><span>门头沟区</span></div>
	   	   	   </li>
	   	   	    <li class="">
	   	   	   	  <div><span>顺义区</span></div>
	   	   	   </li>
	   	   	    <li class="">
	   	   	   	  <div><span>通州区</span></div>
	   	   	   </li>
	   	   	   <li class="">
	   	   	   	  <div><span>平谷区</span></div>
	   	   	   </li>
	   	   	   <li class="">
	   	   	   	  <div><span>密云区</span></div>
	   	   	   </li>

	   	   </ul>
	   </div>
	   <div class="selector-mod hide sortType" style="top: 35px" type="vertical">
	   	   <ul class="selector-in">
		   	   	<li class="active">
		   	   		<div>
		   	   			<span>离我最近(定位失败)</span>
		   	   		</div>
		   	   	</li>
		   	   	<li class="">
		   	   		<div>
		   	   			<span>价格最低</span>
		   	   		</div>
		   	   	</li>
	   	   </ul>
	   </div>
	   <div class="selector-mod hide supportFilters" style="top: 35px">
	   	      <ul class="selector-in">
	   	   	   <li class="active">
	   	   	   	  <div><span>不限特色</span></div>
	   	   	   </li>
	   	   	   <li class="">
	   	   	   	  <div><span>退票</span></div>
	   	   	   </li>
	   	   	   <li class="">
	   	   	   	  <div><span>改签</span></div>
	   	   	   </li>
	   	   	   <li class="">
	   	   	   	  <div><span>观影小食</span></div>
	   	   	   </li>
	   	   	   <li class="">
	   	   	   	  <div><span>IMAX厅</span></div>
	   	   	   </li>
	   	   	   <li class="">
	   	   	   	  <div><span>巨幕厅</span></div>
	   	   	   </li>
	   	   	    <li class="">
	   	   	   	  <div><span>4K厅</span></div>
	   	   	   </li>
	   	   	    <li class="">
	   	   	   	  <div><span>4D厅</span></div>
	   	   	   </li>
	   	   	    <li class="">
	   	   	   	  <div><span>艺术影厅</span></div>
	   	   	   </li>
	   	   	    <li class="">
	   	   	   	  <div><span>可停车</span></div>
	   	   	   </li>
	   	   	    <li class="">
	   	   	   	  <div><span>DTS临时厅呵呵</span></div>
	   	   	   </li>
	   	   	    <li class="">
	   	   	   	  <div><span>激光厅</span></div>
	   	   	   </li>
	   	   	   <li class="">
	   	   	   	  <div><span>3D厅</span></div>
	   	   	   </li>
	   	   	   <li class="">
	   	   	   	  <div><span>4DX厅</span></div>
	   	   	   </li>

	   	   </ul>
	   </div>
	    <div class="cinema-search-container hide">
	    	  <div class="cinema-search-hd">
	    	  	 <a href="javascript:void(0)" class="cinema-search-cancel">取消</a>
	    	  	 <div class="cinema-search-control">
	    	  	 	<i class="icon-search"></i>
	    	  	 	<input class="cinemaSearchInput" type="text" placeholder="影院名称或地址">
	    	  	 </div>
	    	  </div>
	    </div>
 <script src="../public/js/TouchSlide-3e95743d48.1.1.js"></script>	   
 <script src="../public/js/main-992d8463e1.js"></script>
</body>
</html>
