<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户资料修改</title>
    <style>
        .edit-input {
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <div>
        <div>
            <span>用户名：</span>
            <input class="edit-input" id="username" value="" disabled="true"/>
        </div>
        <div>
            <span>年龄：</span>
            <input class="edit-input" id="age" value=""/>
        </div>
        <div>
            <button id="btnSaveUserInfo">保存</button>
        </div>
    </div>
    <script src="../public/js/jquery-3-6a07da9fae.3.1.js"></script>
    <script src="../public/js/main-992d8463e1.js"></script>
</body>
</html>