<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../public/css/style-9740c441ac.css">
	<link rel="apple-touch-icon" href="https://f.m.taopiaopiao.com/img/favicon.ico">
	<link rel="Shortcut Icon" href="https://f.m.taopiaopiao.com/img/favicon.ico" type="image/x-icon">
	<script src="../public/js/jquery-3-6a07da9fae.3.1.js"></script>
	
	<title>淘票票He</title>
</head>
<body>
	 <!-- header -->
	    <header class="tpp-header">
               <div class="city-c">
               	    <div class="logo"></div>
               	    <div class="logo-text">北京</div>
               </div>
               <div class="m-tab-wrap" id="movieTab">
               	<ul>
               		<li class="tab-item active" data-index="0" aria-selected="true"><div class="item-content">正在热映</div></li>
               		<li class="tab-item" data-index="1" aria-selected="false"><div class="item-content">即将上映</div></li>
               		<li class="tab-link-bar"></li>
               	</ul>
               </div>
        </header>
	   <!-- body区域 -->   
	   <section class="tpp-tab-panel publish">
	    	   <div id="tpp-banner">
	    	   	    <div class="hd">
	    	   	    	<ul>
	    	   	    		<li class="on"></li>
	    	   	    		<li></li>
	    	   	    		<li></li>
	    	   	    		<li></li>
	    	   	    		<li></li>
	    	   	    		<li></li>
	    	   	    	</ul>
	    	   	    </div>
	    	   	    <div class="bd">
	    	   	    	<ul>
	    	   	    		<li><a href=""><img src="../public/img/banner-1-1ca7f003d3.jpg" alt=""></a></li>
	    	   	    		<li><a href=""><img src="../public/img/banner-2-b8ca4a8b2c.jpg" alt=""></a></li>
	    	   	    		<li><a href=""><img src="../public/img/banner-3-ea0453bdfc.jpg" alt=""></a></li>
	    	   	    		<li><a href=""><img src="../public/img/banner-4-4364543231.jpg" alt=""></a></li>
	    	   	    		<li><a href=""><img src="../public/img/banner-5-7ed0d3be25.jpg" alt=""></a></li>
	    	   	    		<li><a href=""><img src="../public/img/banner-6-e0fc2c8d07.jpg" alt=""></a></li>
	    	   	    	</ul>
	    	   	    </div>
	    	   </div>
	    <div class="tpp-movie-list">
	    	 <!-- first-pic -->
	    	     <div class="mv-item">
	    	     	 <div class="mv-wrap">
	    	     	 	  <div class="mv-info clearfix">
	    	     	   	     <div class="poster-c">
	    	     	   	  	     <a class="poster clearfix" href="" style="background:url('../public/img/home/film-1-ed277c895b.jpg') no-repeat 0 0 /cover"><i class="i-play"></i></a>
	    	     	   	     </div>
	    	     	   	     <a class="mv-item-content" href="">
	    	     	   	     	<div class="title">
	    	     	   	     		<div class="show-name flt">一出好戏</div>
	    	     	   	     		<i class="tpp-bg">
	    	     	   	     			<i class="tpp-tips">2D</i><i class="tpp-big">中国巨幕</i>
	    	     	   	     		</i>
	    	     	   	     	</div>
	    	     	   	     	<div class="brief">观众评分
                                       <span class="text-warning">8.4</span>
	    	     	   	     	</div>
	    	     	   	     	<div class="brief">导演 : 黄渤</div>
	    	     	   	     	<div class="brief">主演 : 黄渤 舒淇 王宝强 张艺兴</div>
	    	     	   	     	<div class="fantastic">
	    	     	   	     		<i class="today-hot">今日最热</i><i class="week-hot">本周最热</i>
	    	     	   	     	</div>
	    	     	   	     </a>
	    	     	   	     <div class="btn-wrap frt">
	    	     	   	     	 <a class="tpp-btn tpp-btn-primary frt" href="">购票</a>
	    	     	   	     	 <div class="act-tag frt">特惠</div>
	    	     	   	     </div>
	    	     	      </div>
	    	     	 </div>
	    	     </div>
	    	     <!-- second-pic -->
	    	     <div class="mv-item">
	    	     	 <div class="mv-wrap">
	    	     	 	  <div class="mv-info clearfix">
	    	     	   	     <div class="poster-c">
	    	     	   	     <a class="poster clearfix" href="" style="background:url('../public/img/home/film-2-dfe2944a49.jpg') no-repeat 0 0 /cover">
	    	     	   	     	<i class="i-play"></i>
	    	     	   	     </a>
	    	     	   	     </div>
	    	     	   	     <a class="mv-item-content" href="">
	    	     	   	     	<div class="title">
	    	     	   	     		<div class="show-name flt">精灵旅社3 : 疯...</div>
	    	     	   	     		<i class="tpp-bg">
	    	     	   	     			<i class="tpp-tips">3D</i><i class="tpp-big">中国巨幕</i>
	    	     	   	     		</i>
	    	     	   	     	</div>
	    	     	   	     	<div class="brief">观众评分
                                       <span class="text-warning">8.4</span>
	    	     	   	     	</div>
	    	     	   	     	<div class="brief">导演 : 格恩迪·塔塔科夫斯基</div>
	    	     	   	     	<div class="brief">主演 : 亚当·桑德勒</div>
	    	     	   	     	<div class="fantastic">
	    	     	   	     		<i class="today-hot">一周最热</i><!-- <i class="week-hot">本周最热</i> -->
	    	     	   	     	</div>
	    	     	   	     </a>
	    	     	   	     <div class="btn-wrap frt">
	    	     	   	     	 <a class="tpp-btn tpp-btn-primary frt" href="">购票</a>
	    	     	   	     	 <div class="act-tag frt">特惠</div>
	    	     	   	     </div>
	    	     	      </div>
	    	     	 </div>
	    	     </div>
	    	     <!-- third-pic -->
	    	     <div class="mv-item">
	    	     	 <div class="mv-wrap">
	    	     	 	  <div class="mv-info clearfix">
	    	     	   	     <div class="poster-c">
	    	     	   	  	     <a class="poster clearfix" href="" style="background:url('../public/img/home/film-3-8a6c28c730.jpg') no-repeat 0 0 /cover"><i class="i-play"></i></a>
	    	     	   	     </div>
	    	     	   	     <a class="mv-item-content" href="">
	    	     	   	     	<div class="title">
	    	     	   	     		<div class="show-name flt">欧洲攻略</div>
	    	     	   	     		<i class="tpp-bg">
	    	     	   	     			<i class="tpp-tips">2D</i><i class="tpp-big">IMAX</i>
	    	     	   	     		</i>
	    	     	   	     	</div>
	    	     	   	     	<div class="brief">观众评分
                                       <span class="text-warning">8.1</span>
	    	     	   	     	</div>
	    	     	   	     	<div class="brief">导演 : 马楚生</div>
	    	     	   	     	<div class="brief">主演 : 梁朝伟 吴亦凡 唐嫣 杜鹃</div>
	    	     	   	     	<div class="fantastic">
	    	     	   	     		<!-- <i class="today-hot">今日最热</i> --><i class="week-hot">今日最热</i>
	    	     	   	     	</div>
	    	     	   	     </a>
	    	     	   	     <div class="btn-wrap frt">
	    	     	   	     	 <a class="tpp-btn tpp-btn-primary frt" href="">购票</a>
	    	     	   	     	 <div class="act-tag frt">特惠</div>
	    	     	   	     </div>
	    	     	      </div>
	    	     	 </div>
	    	     </div>
	    	     <!-- fourth-pic -->
	    	     <div class="mv-item">
	    	     	 <div class="mv-wrap">
	    	     	 	  <div class="mv-info clearfix">
	    	     	   	     <div class="poster-c">
	    	     	   	  	     <a class="poster clearfix" href="" style="background:url('../public/img/home/film-4-f2ffa99ded.jpg') no-repeat 0 0 /cover"><i class="i-play"></i></a>
	    	     	   	     </div>
	    	     	   	     <a class="mv-item-content" href="">
	    	     	   	     	<div class="title">
	    	     	   	     		<div class="show-name flt">巨齿鲨</div>
	    	     	   	     		<i class="tpp-bg">
	    	     	   	     			<i class="tpp-tips">3D</i><i class="tpp-big">IMAX</i>
	    	     	   	     		</i>
	    	     	   	     	</div>
	    	     	   	     	<div class="brief">观众评分
                                       <span class="text-warning">8.6</span>
	    	     	   	     	</div>
	    	     	   	     	<div class="brief">导演 : 黄渤</div>
	    	     	   	     	<div class="brief">主演 : 黄渤 舒淇 王宝强 张艺兴</div>
	    	     	   	     	<div class="fantastic">
	    	     	   	     		<i class="today-hot">今日最热</i><i class="week-hot">本周最热</i>
	    	     	   	     	</div>
	    	     	   	     </a>
	    	     	   	     <div class="btn-wrap frt">
	    	     	   	     	 <a class="tpp-btn tpp-btn-primary frt" href="">购票</a>
	    	     	   	     	 <div class="act-tag frt">特惠</div>
	    	     	   	     </div>
	    	     	      </div>
	    	     	 </div>
	    	     </div>
	    	       <!-- fifth-pic -->
	    	     <div class="mv-item">
	    	     	 <div class="mv-wrap">
	    	     	 	  <div class="mv-info clearfix">
	    	     	   	     <div class="poster-c">
	    	     	   	  	     <a class="poster clearfix" href="" style="background:url('../public/img/home/film-5-a807b4a97a.jpg') no-repeat 0 0 /cover"><i class="i-play"></i></a>
	    	     	   	     </div>
	    	     	   	     <a class="mv-item-content" href="">
	    	     	   	     	<div class="title">
	    	     	   	     		<div class="show-name flt">快把我哥带走吧</div>
	    	     	   	     		<i class="tpp-bg">
	    	     	   	     			<!-- <i class="tpp-tips">2D</i><i class="tpp-big">中国巨幕</i> -->
	    	     	   	     		</i>
	    	     	   	     	</div>
	    	     	   	     	<div class="brief">观众评分
                                       <span class="text-warning">9.1</span>
	    	     	   	     	</div>
	    	     	   	     	<div class="brief">导演 : 郑芬芬</div>
	    	     	   	     	<div class="brief">主演 : 张子枫 彭昱畅 赵今麦</div>
	    	     	   	     	<div class="fantastic">
	    	     	   	     		<!-- <i class="today-hot">今日最热</i><i class="week-hot">本周最热</i> -->
	    	     	   	     	</div>
	    	     	   	     </a>
	    	     	   	     <div class="btn-wrap frt">
	    	     	   	     	 <a class="tpp-btn tpp-btn-primary frt" href="">购票</a>
	    	     	   	     	 <div class="act-tag frt">特惠</div>
	    	     	   	     </div>
	    	     	      </div>
	    	     	 </div>
	    	     </div>
	    	      <!-- six-pic -->
	    	     <div class="mv-item">
	    	     	 <div class="mv-wrap">
	    	     	 	  <div class="mv-info clearfix">
	    	     	   	     <div class="poster-c">
	    	     	   	  	     <a class="poster clearfix" href="" style="background:url('../public/img/home/film-6-cfa2bbcb57.jpg') no-repeat 0 0 /cover"><i class="i-play"></i></a>
	    	     	   	     </div>
	    	     	   	     <a class="mv-item-content" href="">
	    	     	   	     	<div class="title">
	    	     	   	     		<div class="show-name flt">新乌龙院之笑闹江湖</div>
	    	     	   	     		<i class="tpp-bg">
	    	     	   	     			<!-- <i class="tpp-tips">2D</i><i class="tpp-big">中国巨幕</i> -->
	    	     	   	     		</i>
	    	     	   	     	</div>
	    	     	   	     	<div class="brief">
                                       <span class="text-warning">292929</span>
                                       人想看
                                       <span>|</span> 本周五上映
	    	     	   	     	</div>
	    	     	   	     	<div class="brief">导演 : 朱艳萍</div>
	    	     	   	     	<div class="brief">主演 : 吴孟达 郝劭文 王宁</div>
	    	     	   	     	<div class="fantastic">
	    	     	   	     	<!-- 	<i class="today-hot">今日最热</i><i class="week-hot">本周最热</i> -->
	    	     	   	     	</div>
	    	     	   	     </a>
	    	     	   	     <div class="btn-wrap frt">
	    	     	   	     	 <a class="tpp-btn tpp-btn-primary frt" href="">购票</a>
	    	     	   	     	 <div class="act-tag frt">特惠</div>
	    	     	   	     </div>
	    	     	      </div>
	    	     	 </div>
	    	     </div>
	    	       <!-- seventh-pic -->
	    	     <div class="mv-item">
	    	     	 <div class="mv-wrap">
	    	     	 	  <div class="mv-info clearfix">
	    	     	   	     <div class="poster-c">
	    	     	   	  	     <a class="poster clearfix" href="" style="background:url('../public/img/home/film-7-5416a01b53.jpg') no-repeat 0 0 /cover"><i class="i-play"></i></a>
	    	     	   	     </div>
	    	     	   	     <a class="mv-item-content" href="">
		    	     	   	     	<div class="title">
		    	     	   	     		<div class="show-name flt">蚁人2：黄蜂女现身</div>
		    	     	   	     		<i class="tpp-bg">
		    	     	   	     			<i class="tpp-tips">3D</i><i class="tpp-big">IMAX</i>
		    	     	   	     		</i>
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">
	                                       <span class="text-warning">888888</span>
	                                       人想看
	                                       <span>|</span> 本周日上映
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">导演 : 佩顿·里德</div>
		    	     	   	     	<div class="brief">主演 : 保罗·路德 伊万杰琳·莉莉</div>
		    	     	   	     	<div class="fantastic">
		    	     	   	     	<!-- 	<i class="today-hot">今日最热</i><i class="week-hot">本周最热</i> -->
		    	     	   	     	</div>
	    	     	   	     </a>
	    	     	   	     <div class="btn-wrap frt">
	    	     	   	     	 <a class="tpp-btn tpp-btn-info frt" href="">预售</a>
	    	     	   	     	 <div class="act-tag frt">特惠</div>
	    	     	   	     </div>
	    	     	      </div>
	    	     	 </div>
	    	     </div>
	    	       <!-- eigth-pic -->
	    	     <div class="mv-item">
	    	     	 <div class="mv-wrap">
	    	     	 	  <div class="mv-info clearfix">
	    	     	   	     <div class="poster-c">
	    	     	   	  	     <a class="poster clearfix" href="" style="background:url('../public/img/home/film-8-ec7c760b49.jpg') no-repeat 0 0 /cover"><i class="i-play"></i></a>
	    	     	   	     </div>
	    	     	   	     <a class="mv-item-content" href="">
		    	     	   	     	<div class="title">
		    	     	   	     		<div class="show-name flt">爱情公寓</div>
		    	     	   	     		<i class="tpp-bg">
		    	     	   	     			<i class="tpp-tips">2D</i><i class="tpp-big">中国巨幕</i>
		    	     	   	     		</i>
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">观众评分
	                                       <span class="text-warning">7.1</span>
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">导演 : 韦正</div>
		    	     	   	     	<div class="brief">主演 : 陈赫 袁弘 娄艺潇 邓家佳</div>
		    	     	   	     	<div class="fantastic">
		    	     	   	     	<!-- 	<i class="today-hot">今日最热</i><i class="week-hot">本周最热</i> -->
		    	     	   	     	</div>
	    	     	   	     </a>
	    	     	   	     <div class="btn-wrap frt">
	    	     	   	     	 <a class="tpp-btn tpp-btn-primary frt" href="">购票</a>
	    	     	   	     	 <div class="act-tag frt">特惠</div>
	    	     	   	     </div>
	    	     	      </div>
	    	     	 </div>
	    	     </div>
	    	     <!-- nineth-pic -->
	    	      <div class="mv-item">
	    	     	 <div class="mv-wrap">
	    	     	 	  <div class="mv-info clearfix">
	    	     	   	     <div class="poster-c">
	    	     	   	  	     <a class="poster clearfix" href="" style="background:url('../public/img/home/film-9-0df39cff66.jpg') no-repeat 0 0 /cover"><i class="i-play"></i></a>
	    	     	   	     </div>
	    	     	   	     <a class="mv-item-content" href="">
		    	     	   	     	<div class="title">
		    	     	   	     		<div class="show-name flt">碟中谍6：全面瓦解</div>
		    	     	   	     		<i class="tpp-bg">
		    	     	   	     			<i class="tpp-tips">3D</i><i class="tpp-big">IMAX</i>
		    	     	   	     		</i>
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">
	                                       <span class="text-warning">166497</span>
	                                       人想看
	                                       <span>|</span> 2018-8-31 上映
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">导演 : 克里斯托夫·迈考利</div>
		    	     	   	     	<div class="brief">主演 : 汤姆·克鲁斯 亨利·卡维尔</div>
		    	     	   	     	<div class="fantastic">
		    	     	   	     		<!-- <i class="today-hot">今日最热</i><i class="week-hot">本周最热</i> -->
		    	     	   	     	</div>
	    	     	   	     </a>
	    	     	   	     <div class="btn-wrap frt">
	    	     	   	     	 <a class="tpp-btn tpp-btn-info frt" href="">预售</a>
	    	     	   	     	 <div class="act-tag frt">特惠</div>
	    	     	   	     </div>
	    	     	      </div>
	    	     	 </div>
	    	     </div>
	    	          <!-- tenth-pic -->
	    	     <div class="mv-item">
	    	     	 <div class="mv-wrap">
	    	     	 	  <div class="mv-info clearfix">
	    	     	   	     <div class="poster-c">
	    	     	   	  	     <a class="poster clearfix" href="" style="background:url('../public/img/home/film-10-c175726829.jpg') no-repeat 0 0 /cover"><i class="i-play"></i></a>
	    	     	   	     </div>
	    	     	   	     <a class="mv-item-content" href="">
		    	     	   	     	<div class="title">
		    	     	   	     		<div class="show-name flt">一出好戏</div>
		    	     	   	     		<i class="tpp-bg">
		    	     	   	     			<i class="tpp-tips">2D</i><i class="tpp-big">中国巨幕</i>
		    	     	   	     		</i>
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">观众评分
	                                       <span class="text-warning">8.4</span>
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">导演 : 黄渤</div>
		    	     	   	     	<div class="brief">主演 : 黄渤 舒淇 王宝强 张艺兴</div>
		    	     	   	     	<div class="fantastic">
		    	     	   	     		<i class="today-hot">今日最热</i><i class="week-hot">本周最热</i>
		    	     	   	     	</div>
	    	     	   	     </a>
	    	     	   	     <div class="btn-wrap frt">
	    	     	   	     	 <a class="tpp-btn tpp-btn-primary frt" href="">购票</a>
	    	     	   	     	 <div class="act-tag frt">特惠</div>
	    	     	   	     </div>
	    	     	      </div>
	    	     	 </div>
	    	     </div>     
	    </div>
	    <section style="margin-top: 50px;">-------------我是有底线的-------------</section>
	   </section>
	   <section class="tpp-tab-panel presell hide">
	   	         <div class="comingSoon">
	   	         	  <div class="tpp-date">2018-09-13 明天</div>
			   	      <div class="mv-item">
		    	     	 <div class="mv-wrap">
		    	     	 	  <div class="mv-info clearfix">
		    	     	   	     <div class="poster-c">
		    	     	   	  	     <a class="poster clearfix" href="" style="background:url('../public/img/home/film-6-cfa2bbcb57.jpg') no-repeat 0 0 /cover"><i class="i-play"></i></a>
		    	     	   	     </div>
		    	     	   	     <a class="mv-item-content" href="">
		    	     	   	     	<div class="title">
		    	     	   	     		<div class="show-name flt">古墓兽影</div>
		    	     	   	     		<i class="tpp-bg">
		    	     	   	     			<!-- <i class="tpp-tips">2D</i><i class="tpp-big">中国巨幕</i> -->
		    	     	   	     		</i>
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">
	                                       <span class="text-warning">5425</span>
	                                       人想看
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">导演：李麒麟</div>
		    	     	   	     	<div class="brief">主演：聂远 莫少聪</div>
		    	     	   	     	<div class="fantastic">
		    	     	   	     	<!-- 	<i class="today-hot">今日最热</i><i class="week-hot">本周最热</i> -->
		    	     	   	     	</div>
		    	     	   	     </a>
		    	     	   	     <div class="btn-wrap frt">
		    	     	   	     	 <a class="tpp-btn tpp-btn-info frt" href="">购票</a>
		    	     	   	     	 <div class="act-tag frt">特惠</div>
		    	     	   	     </div>
		    	     	      </div>
		    	     	 </div>
	    	     </div> 
	    	     <div class="mv-item">
		    	     	 <div class="mv-wrap">
		    	     	 	  <div class="mv-info clearfix">
		    	     	   	     <div class="poster-c">
		    	     	   	  	     <a class="poster clearfix" href="" style="background:url('../public/img/home/film-6-cfa2bbcb57.jpg') no-repeat 0 0 /cover"><i class="i-play"></i></a>
		    	     	   	     </div>
		    	     	   	     <a class="mv-item-content" href="">
		    	     	   	     	<div class="title">
		    	     	   	     		<div class="show-name flt">古墓兽影</div>
		    	     	   	     		<i class="tpp-bg">
		    	     	   	     			<!-- <i class="tpp-tips">2D</i><i class="tpp-big">中国巨幕</i> -->
		    	     	   	     		</i>
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">
	                                       <span class="text-warning">5425</span>
	                                       人想看
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">导演：李麒麟</div>
		    	     	   	     	<div class="brief">主演：聂远 莫少聪</div>
		    	     	   	     	<div class="fantastic">
		    	     	   	     	<!-- 	<i class="today-hot">今日最热</i><i class="week-hot">本周最热</i> -->
		    	     	   	     	</div>
		    	     	   	     </a>
		    	     	   	     <div class="btn-wrap frt">
		    	     	   	     	 <a class="tpp-btn tpp-btn-info frt" href="">购票</a>
		    	     	   	     	 <div class="act-tag frt">特惠</div>
		    	     	   	     </div>
		    	     	      </div>
		    	     	 </div>
	    	     </div> 
	    	     <div class="tpp-date">2018-09-14 后天</div>
	    	         <div class="mv-item">
		    	     	 <div class="mv-wrap">
		    	     	 	  <div class="mv-info clearfix">
		    	     	   	     <div class="poster-c">
		    	     	   	  	     <a class="poster clearfix" href="" style="background:url('../public/img/home/film-6-cfa2bbcb57.jpg') no-repeat 0 0 /cover"><i class="i-play"></i></a>
		    	     	   	     </div>
		    	     	   	     <a class="mv-item-content" href="">
		    	     	   	     	<div class="title">
		    	     	   	     		<div class="show-name flt">古墓兽影</div>
		    	     	   	     		<i class="tpp-bg">
		    	     	   	     			<!-- <i class="tpp-tips">2D</i><i class="tpp-big">中国巨幕</i> -->
		    	     	   	     		</i>
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">
	                                       <span class="text-warning">5425</span>
	                                       人想看
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">导演：李麒麟</div>
		    	     	   	     	<div class="brief">主演：聂远 莫少聪</div>
		    	     	   	     	<div class="fantastic">
		    	     	   	     	<!-- 	<i class="today-hot">今日最热</i><i class="week-hot">本周最热</i> -->
		    	     	   	     	</div>
		    	     	   	     </a>
		    	     	   	     <div class="btn-wrap frt">
		    	     	   	     	 <a class="tpp-btn tpp-btn-info frt" href="">购票</a>
		    	     	   	     	 <div class="act-tag frt">特惠</div>
		    	     	   	     </div>
		    	     	      </div>
		    	     	 </div>
	    	     </div>
	    	         <div class="mv-item">
		    	     	 <div class="mv-wrap">
		    	     	 	  <div class="mv-info clearfix">
		    	     	   	     <div class="poster-c">
		    	     	   	  	     <a class="poster clearfix" href="" style="background:url('../public/img/home/film-6-cfa2bbcb57.jpg') no-repeat 0 0 /cover"><i class="i-play"></i></a>
		    	     	   	     </div>
		    	     	   	     <a class="mv-item-content" href="">
		    	     	   	     	<div class="title">
		    	     	   	     		<div class="show-name flt">古墓兽影</div>
		    	     	   	     		<i class="tpp-bg">
		    	     	   	     			<!-- <i class="tpp-tips">2D</i><i class="tpp-big">中国巨幕</i> -->
		    	     	   	     		</i>
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">
	                                       <span class="text-warning">5425</span>
	                                       人想看
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">导演：李麒麟</div>
		    	     	   	     	<div class="brief">主演：聂远 莫少聪</div>
		    	     	   	     	<div class="fantastic">
		    	     	   	     	<!-- 	<i class="today-hot">今日最热</i><i class="week-hot">本周最热</i> -->
		    	     	   	     	</div>
		    	     	   	     </a>
		    	     	   	     <div class="btn-wrap frt">
		    	     	   	     	 <a class="tpp-btn tpp-btn-info frt" href="">购票</a>
		    	     	   	     	 <div class="act-tag frt">特惠</div>
		    	     	   	     </div>
		    	     	      </div>
		    	     	 </div>
	    	     </div>
	    	         <div class="mv-item">
		    	     	 <div class="mv-wrap">
		    	     	 	  <div class="mv-info clearfix">
		    	     	   	     <div class="poster-c">
		    	     	   	  	     <a class="poster clearfix" href="" style="background:url('../public/img/home/film-6-cfa2bbcb57.jpg') no-repeat 0 0 /cover"><i class="i-play"></i></a>
		    	     	   	     </div>
		    	     	   	     <a class="mv-item-content" href="">
		    	     	   	     	<div class="title">
		    	     	   	     		<div class="show-name flt">古墓兽影</div>
		    	     	   	     		<i class="tpp-bg">
		    	     	   	     			<!-- <i class="tpp-tips">2D</i><i class="tpp-big">中国巨幕</i> -->
		    	     	   	     		</i>
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">
	                                       <span class="text-warning">5425</span>
	                                       人想看
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">导演：李麒麟</div>
		    	     	   	     	<div class="brief">主演：聂远 莫少聪</div>
		    	     	   	     	<div class="fantastic">
		    	     	   	     	<!-- 	<i class="today-hot">今日最热</i><i class="week-hot">本周最热</i> -->
		    	     	   	     	</div>
		    	     	   	     </a>
		    	     	   	     <div class="btn-wrap frt">
		    	     	   	     	 <a class="tpp-btn tpp-btn-info frt" href="">购票</a>
		    	     	   	     	 <div class="act-tag frt">特惠</div>
		    	     	   	     </div>
		    	     	      </div>
		    	     	 </div>
	    	     </div>
	    	         <div class="mv-item">
		    	     	 <div class="mv-wrap">
		    	     	 	  <div class="mv-info clearfix">
		    	     	   	     <div class="poster-c">
		    	     	   	  	     <a class="poster clearfix" href="" style="background:url('../public/img/home/film-6-cfa2bbcb57.jpg') no-repeat 0 0 /cover"><i class="i-play"></i></a>
		    	     	   	     </div>
		    	     	   	     <a class="mv-item-content" href="">
		    	     	   	     	<div class="title">
		    	     	   	     		<div class="show-name flt">古墓兽影</div>
		    	     	   	     		<i class="tpp-bg">
		    	     	   	     			<!-- <i class="tpp-tips">2D</i><i class="tpp-big">中国巨幕</i> -->
		    	     	   	     		</i>
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">
	                                       <span class="text-warning">5425</span>
	                                       人想看
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">导演：李麒麟</div>
		    	     	   	     	<div class="brief">主演：聂远 莫少聪</div>
		    	     	   	     	<div class="fantastic">
		    	     	   	     	<!-- 	<i class="today-hot">今日最热</i><i class="week-hot">本周最热</i> -->
		    	     	   	     	</div>
		    	     	   	     </a>
		    	     	   	     <div class="btn-wrap frt">
		    	     	   	     	 <a class="tpp-btn tpp-btn-info frt" href="">购票</a>
		    	     	   	     	 <div class="act-tag frt">特惠</div>
		    	     	   	     </div>
		    	     	      </div>
		    	     	 </div>
	    	     </div>
	    	         <div class="mv-item">
		    	     	 <div class="mv-wrap">
		    	     	 	  <div class="mv-info clearfix">
		    	     	   	     <div class="poster-c">
		    	     	   	  	     <a class="poster clearfix" href="" style="background:url('../public/img/home/film-6-cfa2bbcb57.jpg') no-repeat 0 0 /cover"><i class="i-play"></i></a>
		    	     	   	     </div>
		    	     	   	     <a class="mv-item-content" href="">
		    	     	   	     	<div class="title">
		    	     	   	     		<div class="show-name flt">古墓兽影</div>
		    	     	   	     		<i class="tpp-bg">
		    	     	   	     			<!-- <i class="tpp-tips">2D</i><i class="tpp-big">中国巨幕</i> -->
		    	     	   	     		</i>
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">
	                                       <span class="text-warning">5425</span>
	                                       人想看
		    	     	   	     	</div>
		    	     	   	     	<div class="brief">导演：李麒麟</div>
		    	     	   	     	<div class="brief">主演：聂远 莫少聪</div>
		    	     	   	     	<div class="fantastic">
		    	     	   	     	<!-- 	<i class="today-hot">今日最热</i><i class="week-hot">本周最热</i> -->
		    	     	   	     	</div>
		    	     	   	     </a>
		    	     	   	     <div class="btn-wrap frt">
		    	     	   	     	 <a class="tpp-btn tpp-btn-info frt" href="">购票</a>
		    	     	   	     	 <div class="act-tag frt">特惠</div>
		    	     	   	     </div>
		    	     	      </div>
		    	     	 </div>
	    	     </div>   	
	   	         </div>
	   </section>   
	   <!-- 底部导航区域 -->  
	   <nav class="tpp-menu-wrap">
	   	   <div class="tpp-menu">
	   	   	   <a class="tpp-menu-item" href="index.html">
	   	   	   	  <span class="icon"></span>
	   	   	   	  <span class="name">热映</span>
	   	   	   </a>
	   	   	   <a  class="tpp-menu-item" href="cinemaListLayout.html">
	   	   	   	   <span class="icon"></span>
	   	   	   	  <span class="name">影院</span>
	   	   	   </a>
	   	   	   <a  class="tpp-menu-item" href="login.html">
	   	   	   	   <span class="icon"></span>
	   	   	   	  <span class="name">我的</span>
	   	   	   </a>
	   	   </div>
	   </nav>
	   <div class="tpp-city-selector top-in hide">
	   	     <div class="city-title">选择城市
                 <div class="btn-close">✕</div>
	   	     </div>
	   	     <div class="city-list">
	   	     	  <div class="current city-g" id="当前">
	   	     	  	   <h3>当前</h3>
	   	     	  	   <ul>
	   	     	  	   	  <li class="city-item">北京</li>
	   	     	  	   </ul>
	   	     	  </div>
	   	     	  <div class="gps city-g" id="GPS">
	   	     	  	   <h3>GPS</h3>
	   	     	  	   <ul>
	   	     	  	   	  <li class="city-item">浏览器定位失败</li>
	   	     	  	   </ul>
	   	     	  </div>
	   	     	  <div class="hot city-g">
	   	     	  	   <h3>热门</h3>
	   	     	  	   <ul>
		   	     	  	   	<li class="city-item">北京</li>
		   	     	  	   	<li class="city-item">广州</li>
		   	     	  	   	<li class="city-item">深圳</li>
		   	     	  	   	<li class="city-item">上海</li>
		   	     	  	   	<li class="city-item">成都</li>
		   	     	  	   	<li class="city-item">武汉</li>
		   	     	  	   	<li class="city-item">杭州</li>
		   	     	  	   	<li class="city-item">重庆</li>
	   	     	  	   </ul>
	   	     	  </div>
	   	     	  <div class="city-g" id="A">
	   	     	  	  <h3>A</h3>
	   	     	  	  <ul>
	   	     	  	    <li class="city-item">阿贝</li>
	   	     	  	    <li class="city-item">阿贝</li>
	   	     	  	    <li class="city-item">阿贝</li>
	   	     	  	    <li class="city-item">阿贝</li>
	   	     	  	    <li class="city-item">阿贝</li>
	   	     	  	    <li class="city-item">阿贝</li>
	   	     	  	    <li class="city-item">阿贝</li>
	   	     	  	    <li class="city-item">阿贝</li>
	   	     	  	  </ul>
	   	     	  </div>
	   	     	  <div class="city-g" id="B">
	   	     	      <h3>B</h3>
	   	     	      <ul>
	   	     	      	<li class="city-item">白城</li>
	   	     	      	<li class="city-item">白城</li>
	   	     	      	<li class="city-item">白城</li>
	   	     	      	<li class="city-item">白城</li>
	   	     	      	<li class="city-item">白城</li>
	   	     	      	<li class="city-item">白城</li>
	   	     	      	<li class="city-item">白城</li>
	   	     	      	<li class="city-item">白城</li>
	   	     	      </ul>
	   	     	  </div>
	   	     	  <div class="city-g" id="C">
	   	     	  	 <h3>C</h3>
	   	     	  	  <ul>
	   	     	  	  	<li class="city-item">承德</li>
	   	     	  	  	<li class="city-item">承德</li>
	   	     	  	  	<li class="city-item">承德</li>
	   	     	  	  	<li class="city-item">承德</li>
	   	     	  	  	<li class="city-item">承德</li>
	   	     	  	  </ul>
	   	     	  </div>
	   	     	  <div class="city-g" id="D"></div>
	   	     	  <div class="city-g" id="E"></div>
	   	     	  <div class="city-g" id="F"></div>
	   	     	  <div class="city-g" id="G"></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>
	   	     	  <div class="city-g" id=""></div>

	   	     </div>
	   	     <div class="city-index left-in ">
	   	     	<ul>
	   	     		<li class="index-item current">当前</li>
	   	     		<li class="index-item gps">GPS</li>
	   	     		<li class="index-item hot">热门</li>
	   	     		<li class="index-item">A</li>
	   	     		<li class="index-item">B</li>
	   	     		<li class="index-item">C</li>
	   	     		<li class="index-item">D</li>
	   	     		<li class="index-item">E</li>
	   	     		<li class="index-item">F</li>
	   	     		<li class="index-item">G</li>
	   	     		<li class="index-item">H</li>
	   	     		<li class="index-item">I</li>
	   	     		<li class="index-item">J</li>
	   	     		<li class="index-item">K</li>
	   	     		<li class="index-item">L</li>
	   	     		<li class="index-item">M</li>
	   	     		<li class="index-item">N</li>
	   	     		<li class="index-item">P</li>
	   	     		<li class="index-item">Q</li>
	   	     		<li class="index-item">R</li>
	   	     		<li class="index-item">S</li>
	   	     		<li class="index-item">T</li>
	   	     		<li class="index-item">W</li>
	   	     		<li class="index-item">X</li>
	   	     		<li class="index-item">Y</li>
	   	     		<li class="index-item">Z</li>
	   	     	</ul>
	   	     </div>
	   </div>
	 <script src="../public/js/TouchSlide-3e95743d48.1.1.js"></script>
	<script src="../public/js/main-992d8463e1.js"></script>
</body>
</html>