<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../public/css/style3-406240f0f9.css">
	<link rel="apple-touch-icon" href="https://f.m.taopiaopiao.com/img/favicon.ico">
	<link rel="Shortcut Icon" href="https://f.m.taopiaopiao.com/img/favicon.ico" type="image/x-icon">
	<script src="../public/js/jquery-3-6a07da9fae.3.1.js"></script>
	<title>淘宝网</title>
</head>
<body>

	  <div class="logo"></div>
	  <form class="mlogin" action="">
	  	    <div class="am-list">
	  	    	<div class="am-list-item">
	  	    		<div class="am-list-control">
	  	    			<input class="am-input-required" type="text" placeholder="手机号/邮箱/会员名">
	  	    		</div>
	  	    		<div class="am-list-action"><i class="am-icon-clear"></i></div>
	  	    	</div>
	  	    	<div class="am-list-item">
	  	    		<div class="am-list-control">
	  	    			<input class="am-input-required" type="text" placeholder="请输入密码">
	  	    		</div>
	  	    		<div class="am-list-action"><i class="am-icon-clear"></i></div>
	  	    	</div>
	  	    </div>
	  </form>
	  <div class="other-link">
	  	  <div class="am-field am-footer">
	  	  	  <a class="f-left" href="">短信验证码登录</a>
	  	  	  <a class="f-right" href="register.html">免费注册</a>
	  	  </div>
	  	  <div class="am-field am-fieldBottom">
	  	  	<button class="am-button am-button-submit" type="submit">登陆</button>
	  	  </div>
	  	  <div class="am-field">
	  	  	 <a class="am-button btn-change" href="">手机淘宝快捷登录</a>
	  	  </div>
	  </div>
	  	   

	 
  <script src="../public/js/TouchSlide-3e95743d48.1.1.js"></script>	   
 <script src="../public/js/main-992d8463e1.js"></script>
</body>
</html>