
body {
    padding-top: 45px;
    background: #f0f0f0;
}

.flt {float:left;}
.frt {float:right;}
.clearfix { *zoom: 1;}
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: "";}
.clearfix:after { clear: both;}

img {
    width: 100%;
    height: 100%;
}

.disable-scroll {
    height: 100%;
    overflow: hidden;
}

.course-price.z-free {
    color: #5fb41b;
}

.module-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 45px;
    box-sizing: border-box;
    background: #fff;
}

.hd-logo {
    position: absolute;
    top: 7px;
    left: 12px;
    z-index: 101;
}

.module-search {
    margin: 0 50px;
    padding: 8px 0;
    background: #fff;
}

.module-search.search-focus {
    position: relative;
    z-index: 105;
    margin: 0 50px 0 10px;
}

.input-search-field {
    box-sizing: border-box;
    width: 100%;
    height: 28px;
    padding: 5px 20px;
    font-size: 14px;
    background: #eeeff3;
    border: none;
    border-radius: 6px;
    outline: none;
}


.hot-search {
    position: absolute;
    top: -300px;
    right: 0;
    left: 0;
    min-height: 150px;
    background: #fff;
}

.hot-search.js-hot-focus {
    top: 45px;
}

.module-hd-menu {
    position: absolute;
    top: 7px;
    right: 10px;
}

.menu-label {
    display: block;
    margin-top: -2px;
    font-size: 12px;
}


.modal-mask {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.5);
}

.hd-menu-sub {
    display: none;
    position: absolute;
    top: 50px;
    left: -155px;
    width: 172px;
    height: 190px;
    padding: 10px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
}

.hd-menu-sub:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: -15px;
    right: 10px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #fff;
}


.module-content {
    width: 100%;
    overflow: hidden;
}


.module-focus {
    height: 126px;
    background: #08c;
}

.module-category {
    width: 130%;
    height: 100px;
    padding: 15px 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: #fff;
    overflow-x: scroll;
    white-space:nowrap;
}

.module-category ul li {
    display: inline-block;
    width: 68px;
    height: 65px;
    margin-right: 5px;
}

.cate-link {
    display: block;
    font-size: 14px;
    text-align: center;
}

.cate-link img {
    width: 40px;
    height: 40px;
}

.cate-link span {
    display: block;
    margin-top: 5px;
}

.module-rcmd {
    height: 100px;
    background: #fff;
}

.column-title {
    padding: 10px;
    font-weight: normal;
}

.column-title.t3 {
    font-size: 16px;
}

.column-title.t3 .sub {
    font-size: 14px;
}


.course-card-big {
    position: relative;
    height: 168px;
    margin: 0 10px;
}

.course-card-big-bg {
    width: 100%;
    height: 100%;
}

.card-big-title {
    position: absolute;
    bottom: 30px;
    left: 0;
    z-index: 5;
    padding: 0 10px;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    color: #fff;
}

.card-big-info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    padding: 5px 10px;
    font-size: 14px;
}

.course-card-big-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.25) 50%,rgba(0,0,0,.75) 100%);
    background: -webkit-linear-gradient(top,transparent 0,rgba(0,0,0,.25) 50%,rgba(0,0,0,.75) 100%);
}

.icons {
    display: inline-block;
    background: url('../images/index-sprite.png')
}

.icons-logo {
    width: 34px;
    height: 34px;
    background-position: 0 0;
    background-size: 190px 400px;
}

.icon-menu {
    display: inline-block;
    width: 24px;
    height: 20px;
    background: url('../images/menu.png') no-repeat;
    background-size: 24px 24px;
}

footer {
    height: 30px;
    margin-top: 15px;
    text-align: center;
}
